<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="karate" level="WARN"/>
  <logger name="karate.http" level="WARN"/>
  <logger name="karate.runtime" level="WARN"/>
  <logger name="com.intuit.karate" level="WARN"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
